body {
	background-color: #B22222;
}
.header {
  overflow: hidden;
  background-color: #B22222;
  position: fixed;
  top: 0;
  width: 100%;
  height: 185px;
  text-align: center;
  font-family: Dancing Script, cursive;
  font-size: 80px;
  color: #FFF5EE;
}
.header2 {
	overflow: hidden;
	background-color: #B22222;
	position: fixed;
	top: 0;
	width: 100%;
	height: 185px;
	text-align: center;
	font-family: Dancing Script, cursive;
	font-size: 80px;
	color: #FFF5EE;
	border: 8px solid black;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: center;
}
.center2 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	text-align: center;
}
a:link {
	color: #FFF5EE;
}

a:visited {
    color: #FFF5EE;
}
.otis {
	list-style-type: none;
}
.otis2 {
	list-style-type: none;
	font-size: 58px;
}
.grid-4col {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 1vh;
	margin-top: 185px;
}
.colspan1 {
	grid-column: span 1;
}
.colspan2 {
	grid-column: span 2;
}
.colspan3 {
	grid-column: span 3;
	border: 3px solid black;
}
.colspan4 {
	grid-column: span 4;
	border: 3px solid black;
}
.gap {
	margin-top: 13%;
}
p {
	font-size: 45px;
	font-family: Times;
	color: #FFF5EE;
	font-weight: bold;
}
ul {
	font-size: 80px;
	font-weight: bold;
}